@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-plus:before {
	content: "\e907";
	padding: 0px 17px 0px 0px;
}
._icon-arrow:before {
	content: "\e908";
	padding: 0px 0px 0px 5px;
}
._icon-twitter:before {
	content: "\e900";
}
._icon-camera:before {
	content: "\e901";
}
._icon-dribbble:before {
	content: "\e902";
}
._icon-facebook:before {
	content: "\e903";
}
._icon-settings:before {
	content: "\e904";
}
._icon-bug:before {
	content: "\e905";
}
._icon-magnet:before {
	content: "\e906";
}
